@font-face {
    font-family: 'iconfont';
    /* project id 2374143 */
    src: url('//at.alicdn.com/t/font_2374143_uofqi1h5jcm.eot');
    src: url('//at.alicdn.com/t/font_2374143_uofqi1h5jcm.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2374143_uofqi1h5jcm.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2374143_uofqi1h5jcm.woff') format('woff'),
        url('//at.alicdn.com/t/font_2374143_uofqi1h5jcm.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2374143_uofqi1h5jcm.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: .20rem;
    font-style: normal;
    text-align:center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}